<table>
    <tr>
      <th>ID</th> <th>Title</th> <th>Due Date</th>
    </tr>
    <% for (let todos of allTodos) { %>
    <tr>
      <td><%= todos.id %></td> <td><%= todos.title %></td> <td><%= todos.dueDate %></td>
    </tr>
    <% } %>
</table>